@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch);
body {
  font-family: 'Cabin Sketch', cursive;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Cabin Sketch', cursive;
}
body h3 {
  font-size: 1.2em;
}
body header {
  display: none;
}
#navigation > .large-12, .main > .large-12 {
  background: rgba(255, 255, 255, 0.5);

}

body header #navigation {
  height: 70px;
  text-align: center;
}
body header #navigation h1 {
  font-size: 2em;
  padding: 8px;
}
body header #navigation h1 .name{
  font-size: 2em;
  font-weight: bold;
}

body .main {
}
body .main .heading {
  font-size: 2.5em;
}
body .main #about_pete h4.heading {
  text-align: right;
}
body .main #about_pete h6.subheader {
  text-align: right;
  font-size: 2em;
}
body .main #philosophy h6.subheader {
  font-size: 2em;
}
body .main #headshot {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
body #externals img {
  height: 40px;
}
body footer p {
  font-size: 1.5em;
}
.style1 {
  background-color: rgba(255, 255, 255, 1);
  background: url('../images/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.style2 {
  background: url('../images/digital_droppings_background.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#my_digital_droppings {
  text-align: center;
  margin-bottom: 30px;
}
.title {
  margin-top: 20px;
}
.content_header {
  text-align: center;
}
.center {
  text-align: center;
}
.center img {
  height: 100px;
}
